h1 {
  font-size: 1.75em;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  text-align: center;
}

tr td:first-child {
  text-align: right;
  vertical-align: top;
  padding: 2px 10px 2px 2px;
}

input {
  width: 100%;
}

label {
  font-weight: bold;
  white-space: nowrap;
}